################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DiskDataAndHelper/v16/ipch/AutoPCH/4c749239426e3e1f/MAIN.ipch
